<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.cs2340.rajsjarfiles.spacetrader">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.ShipMarketActivity"
            android:label="@string/title_activity_ship_market"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".views.ShipActivity"
            android:label="@string/title_activity_ship"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.MarketActivity"
            android:label="@string/title_activity_market"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.TravelActivity"
            android:label="@string/title_activity_travel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.GameActivity"
            android:label="@string/title_activity_game"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.StartActivity"
            android:label="@string/title_activity_start"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>